* {
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  padding: 1%;
  margin-top: -3%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background: rgb(227, 227, 227);
  background: linear-gradient(
    180deg,
    rgba(227, 227, 227, 1) 0%,
    rgba(228, 228, 228, 0.835) 29%,
    rgba(182, 182, 182, 0.827) 100%
  );
  border-radius: 10px;
  height: 100%;

  box-shadow: -2px 3px 2px 0px rgba(168, 168, 168, 0.75);
  -webkit-box-shadow: -2px 3px 2px 0px rgba(168, 168, 168, 0.75);
  -moz-box-shadow: -2px 3px 2px 0px rgba(168, 168, 168, 0.75);
}

@media (max-width: 912px) {
  .container {
    margin: auto;
    padding: 2%;
  }
}

@media (max-width: 540px) {
  .container {
    padding: 2%;
  }
}

@media (max-width: 500px) {
  .container {
    margin: 2%;
  }
}

@media (max-width: 300px) {
  .container {
    padding: 3%;
    font-size: 90%;
  }
}
